<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.escass.movieproject.mappers.TicketMapper">
    <insert id="insertScreen"
            parameterType="com.escass.movieproject.entities.ScreenEntity">
        INSERT INTO `jgv`.`screen` (sc_start_date, mo_num, ci_num)
        VALUES (#{scStartDate}, #{moNum}, #{ciNum})
    </insert>
    <select id="selectMovieNumByMovieTitle"
            resultType="com.escass.movieproject.entities.MovieEntity">
        SELECT `mo_num`          AS `moNum`,
               `mo_title`        AS `moTitle`,
               `mo_date`         AS `moDate`,
               `mo_time`         AS `moTime`,
               `mo_plot`         AS `moPlot`,
               `mo_booking_rate` AS `moBookingRate`,
               `mo_ending`       AS `moEnding`,
               `ra_num`          AS `raNum`
        FROM `jgv`.`movie`
        WHERE `mo_title` = #{moTitle}
    </select>
    <select id="selectCinemaNumByCinemaTitle"
            resultType="com.escass.movieproject.entities.CinemaEntity">
        SELECT `ci_num`          AS `ciNum`,
               `ci_name`         AS `ciName`,
               `cinema`.`th_num` AS `thNum`,
               `cit_num`         AS `citNum`
        FROM `jgv`.`cinema`
                 LEFT JOIN `jgv`.`theater` t ON `cinema`.th_num = t.th_num
        WHERE `ci_name` = #{ciName}
          AND `th_name` = #{thName}
    </select>
    <select id="selectCinemaNumByCinemaType"
            resultType="com.escass.movieproject.entities.CinemaEntity">
        SELECT `ci_num`           AS `ciNum`,
               `ci_name`          AS `ciName`,
               `cinema`.`th_num`  AS `thNum`,
               `cinema`.`cit_num` AS `citNum`
        FROM `jgv`.`cinema`
                 LEFT JOIN `jgv`.`theater` t ON `cinema`.`th_num` = t.th_num
                 LEFT JOIN `jgv`.`cinema_type` ct on `cinema`.cit_num = ct.cit_num
        WHERE `cit_name` = #{citName}
          AND `th_name` = #{thName}
    </select>
    <select id="selectDuplicateScreen"
            resultType="com.escass.movieproject.entities.ScreenEntity">
        SELECT sc_num        AS `scNum`,
               sc_start_date AS `scStartDate`,
               mo_num        AS `moNum`,
               ci_num        AS `ciNum`
        FROM `jgv`.`screen`
        WHERE `sc_start_date` = #{startDate}
          AND `mo_num` = #{moNum}
          AND `ci_num` = #{ciNum}
    </select>
    <select id="selectAllMoviesByRating"
            resultType="com.escass.movieproject.vos.MovieVo">
        SELECT `mo_num` AS `moNum`,
               `mo_title` AS `moTitle`,
               `mo_date` AS `moDate`,
               `mo_time` AS `moTime`,
               `mo_plot` AS `moPlot`,
               `mo_booking_rate` AS `moBookingRate`,
               `mo_ending` AS `moEnding`,
               `movie`.`ra_num` AS `raNum`,
               `ra_grade` AS `raGrade`
        FROM `jgv`.`movie`
                 LEFT JOIN `jgv`.`rating` ra ON movie.ra_num = ra.ra_num
        ORDER BY `mo_booking_rate` DESC
    </select>
    <select id="selectAllMoviesByKorea"
            resultType="com.escass.movieproject.vos.MovieVo">
        SELECT `mo_num` AS `moNum`,
               `mo_title` AS `moTitle`,
               `mo_date` AS `moDate`,
               `mo_time` AS `moTime`,
               `mo_plot` AS `moPlot`,
               `mo_booking_rate` AS `moBookingRate`,
               `mo_ending` AS `moEnding`,
               `movie`.`ra_num` AS `raNum`,
               `ra_grade` AS `raGrade`
        FROM `jgv`.`movie`
                 LEFT JOIN `jgv`.`rating` ra ON movie.ra_num = ra.ra_num
        ORDER BY `mo_title`
    </select>
    <select id="selectRegionAndTheaterCount"
            resultType="com.escass.movieproject.vos.RegionVo">
        SELECT `reg_num`                                        AS `regNum`,
               `reg_name`                                       AS `regName`,
               (SELECT COUNT(0)
                FROM `jgv`.`theater`
                WHERE `region`.`reg_num` = `theater`.`reg_num`) AS `theaterCount`
        FROM `jgv`.`region`
    </select>
    <select id="selectAllScreenDates"
            resultType="com.escass.movieproject.entities.ScreenEntity">
        SELECT `sc_num`        AS `scNum`,
               `sc_start_date` AS `scStartDate`,
               `mo_num`        AS `moNum`,
               `ci_num`        AS `ciNum`
        FROM `jgv`.`screen`
    </select>
    <select id="selectAllMoviesByMoTitle"
            resultType="com.escass.movieproject.vos.MovieVo">
        SELECT movie.`mo_num`    AS `moNum`,
               `mo_title`        AS `moTitle`,
               `mo_date`         AS `moDate`,
               `mo_time`         AS `moTime`,
               `mo_plot`         AS `moPlot`,
               `mo_booking_rate` AS `moBookingRate`,
               `mo_ending`       AS `moEnding`,
               `m_img_url`       AS `mImgUrl`
        FROM `jgv`.`movie`
                 LEFT JOIN `jgv`.`movie_image` Img ON movie.mo_num = Img.mo_num
        WHERE `mo_title` = #{moTitle}
    </select>
</mapper>