@charset "UTF-8";

#main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  > .img {
    width: 61.4rem;
    height: 28rem;
    background-image: url("https://img.cgv.co.kr/r2014/images/common/bg/bg_showtimes_favorite.gif");

    > .head {
      margin: 3rem 0 0 4rem;

      align-items: center;
      display: flex;
      flex-direction: row;
      gap: 0.3rem;
      justify-content: flex-start;

      #favorite-theaters {
        margin-left: 1rem;

        align-items: center;
        display: flex;
        flex-direction: row;
        gap: 0.15rem;
        justify-content: center;

        > .container {
          width: 7.5rem;
          height: 2.5rem;
          border: 0.15rem solid #6e6c6d;

          align-items: center;
          display: flex;
          flex-direction: column;
          justify-content: center;

          > .text-container {
            width: 95%;
            height: 90%;
            border: 0.1rem solid #6e6c6d;
            text-decoration: none;

            display: flex;
            flex-direction: row;
            justify-content: flex-end;

            > .text {
              color: #ffffff;
            }
          }
        }
      }

      > .button {
        background-color: #636162;
        border: 0.2rem solid #6e6c6d;

        > .image {
          width: 1.7rem;
          height: 1.7rem;
          cursor: pointer;
        }
      }
    }

    > .main {
      width: 53.5rem;
      height: 2rem;
      margin-left: 4rem;
      border-top: 0.15rem solid #727171;
      border-bottom: 0.15rem solid #727171;

      align-items: center;
      display: flex;
      flex-direction: row;
      gap: 3.5rem;
      justify-content: flex-start;

      > .item {
        color: #dbdbdb;
        cursor: pointer;
        font-weight: 600;
        font-size: 0.9rem;

        &.select {
          padding: 0.5rem 1rem;
          color: #ffffff;
          border-left: 0.15rem solid #727171;
          border-right: 0.15rem solid #727171;
          background-image: url("https://img.cgv.co.kr/r2014/images/common/ico/ico_arrow02.png");
          background-repeat: no-repeat;
          background-position-x: 50%;
          background-position-y: 96%;
        }

        &:nth-child(1) {
          margin-left: 2rem;
        }

        &:hover {
          color: #ffffff;
        }
      }
    }

    > .item-container {
      width: 52.5rem;
      flex-wrap: wrap;
      margin-left: 5rem;

      align-items: center;
      display: flex;
      flex-direction: row;
      gap: 0.5rem;
      justify-content: flex-start;

      > .item {
        padding-right: 0.5rem;
        font-size: 0.8rem;
        font-weight: 600;
        border-right: 0.1rem solid #6e6c6d;
        color: #dbdbdb;
        cursor: pointer;

        &.select {
          color: #ffffff;
        }

        &:hover {
          color: #ffffff;
        }

        &:nth-last-child(1) {
          border: none;
        }
      }
    }
  }

  > .line-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    > .line {
      margin-top: 2rem;
      width: 61.4rem;
      background-image: url("https://img.cgv.co.kr/r2014/images/common/bg/bg_h3_line.jpg");
      background-repeat: repeat-x;
      background-position: center;

      text-align: center;
    }
  }

  > .theater-container {
    width: 61.4rem;

    > .header {
      width: 100%;

      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: center;

      > .text {
        font-size: 2rem;
        font-weight: 400;
      }

      > .spring {
        flex-grow: 1;
      }
    }

    > .img {
      position: relative;

      > .image {
        width: 100%;
      }

      > .theater-info-container {
        left: 0;
        bottom: 0;
        width: 100%;
        background-image: url('https://img.cgv.co.kr/R2014/images/common/bg/bg_dim80.png');
        background-repeat: repeat;
        position: absolute;

        align-items: flex-start;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        .theater-info {
          color: #ffffff;
        }

        > .small-container {
          > .header {
            display: flex;
            > .cinema-type {
              top: 0;
              right: 15rem;
              width: 5rem;
              height: 1rem;
              background-image: url("https://img.cgv.co.kr/R2014/images/sprite/sprite_screentype02.png");
              background-position: -99px -162px;
              background-repeat: no-repeat;
              position: absolute;
            }
          }
        }

        > .notice-container {
          > .button {
            width: 1.3rem;
            height: 1.3rem;
            background-image: url("https://img.cgv.co.kr/R2014/images/sprite/sprite_btn.png");
            background-position: -50px -62px;
            background-repeat: no-repeat;
            position: absolute;
          }
        }
      }
    }
  }
}


